@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: -2%;
}
/* header */
header {
  background-color: #f7f7f7;
  padding: 50px 30px;
  height: 100vh;
}
.container {
  margin: 120px 100px 0px 100px;
  display: flex;
}
.left {
  width: 50%;
}
header .left .ghost {
  color: orangered;
}

.right {
  width: 50%;
}

.text-area h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
  letter-spacing: -2%;
}

.btn {
  display: inline-block;
  margin-top: 49px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 15px 40px;
  background-image: linear-gradient(to top right, #fba24f 10%, #ff1e1e);
  box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
}
.btn:hover {
  transform: translateY(-3px);
}
.left p {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 500;
  color: #828282;
  letter-spacing: -2%;
}

header .right img {
  margin-left: 15%;
  margin-top: -8.5%;
  width: 95%;
}
/* first section */
.first-section {
  background-image: url(images/shapes/Frame\ 58.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

section .container {
  margin: 0px 100px 0px 100px;
  padding-top: 50px;
  display: flex;
}

.first-section .right img {
  margin-left: 5%;
  width: 100%;
}

.first-section .right .text-area {
  margin-top: 160px;
  padding: 0px 48px;
}
.first-section .right .text-area h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 32px;
  color: #585858;
}

.first-section .right .text-area p {
  font-size: 18px;
  font-weight: 450;
  line-height: 32px;
  color: #18191f;
  margin-bottom: 10px;
  /* .btn margin top 49px */
}
/* second section */
.second-section {
  background: #f7f7f7;
  height: 200vh;
}
.row-1 {
  margin-bottom: 30px;
}
.second-section .row-1 .text-box {
  text-align: center;
  padding: 72px 367px;
}
.text-box h1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #676767;
  margin-bottom: 30px;
}
.text-box p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: #2c2c2c;
}

.row-2 .card-container {
  display: flex;
  margin: 0px 100px;
  justify-content: space-between;
}
.card {
  width: 377px;
  height: auto;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0.2rem 0.2rem 2rem rgba(158, 155, 153, 0.397);
}
.card img {
  margin-left: 2%;
  height: 360px;
  width: auto;
}
.card h1 {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  margin: 10px 0px;
}

.card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
  margin-bottom: 30px;
}

.last-text-box {
  border-radius: 25px;
  margin: 129px 100px 92px 100px;
  box-shadow: 0.2rem 0.2rem 2rem rgba(158, 155, 153, 0.397);
}
.last-text-box .box {
  display: flex;
  justify-content: space-between;
  padding: 65px 165px;
}
.last-text-box .box h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #18191f;
}

.last-text-box .box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #18191f;
}
/* footer */
footer {
  padding: 50px 540px;
  display: block;
  text-align: center;
  background-color: black;
}
footer .ghost {
  color: orangered;
}
footer h1 {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  color: #5b5b5b;
  margin-top: 20px;
  margin-bottom: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
}
